<%= link_to 'Back', user_path(@user) %>
<h4>Followers count: <%= @follows.count %></h4>
<% @follows.each do |follow| %>
  <div>
    <% user = User.find(follow.follower_id) %>
    <%= link_to user.name, user_path(user), method: :get %>
  </div>
<% end %>