<h1>All the posts:</h1>
<%= button_to 'Create new post', new_post_path, method: :get %>
<%= paginate @posts %>
<% @posts.each do |post| %>
  <div>
    <%= render 'post', post: post %>
  </div>
<% end %>
